@import 'tailwindcss';  

*{
  font-family: 'Ubuntu', sans-serif;
}

html::-webkit-scrollbar{
  display: none;
}

html{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@custom-variant dark (&:where(.dark, .dark *));